* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
  border: 1px solid #eee;
  box-shadow: 0px 0px 10px 1px rgba(180, 92, 250, 0.3);
  border-radius: 10px;
  background: #fff;
  padding: 0.5rem 0.75rem;
  position: fixed;
}

.toolbar.top {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar.left {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.toolbar.right {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.tool-button > * {
  width: 12px;
  height: 12px;
}

.tool-button:hover {
  background-color: rgba(180, 92, 250, 0.3);
}

.tool-button.active {
  background-color: rgba(180, 92, 250, 0.6);
}
