* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#canvas {
  cursor: crosshair;
}

header {
  background-color: #eee;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 3px rgba(180, 92, 250, 0.3);
  border-radius: 10px;
  background: #fff;
  padding: 0.5rem 0.75rem;
  position: fixed;
}

.toolbar-top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar-top-left {
  flex-direction: column;
  gap: 1rem;
  top: 100px;
  left: 15px;
}

.toolbar-bottom-right {
  right: 15px;
  bottom: 15px;
}

.toolbar-bottom-left {
  left: 15px;
  bottom: 15px;
}

.tool-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}

.menu-button {
  position: absolute;
  left: 15px;
  top: 15px;
}

.burger {
  box-shadow: 0px 0px 8px 3px rgba(180, 92, 250, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 40px;
  padding: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.burger > .line {
  width: 100%;
  height: 1.5px;
  border-radius: 1px;
  background-color: black;
}

.menu {
  box-shadow: 0px 0px 8px 3px rgba(180, 92, 250, 0.3);
  z-index: 10;
  position: relative;
  top: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #fff;
  padding: 0.5rem 0.75rem;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-section {
  border-top: 1px solid #eee;
  margin-top: 0.25rem;
  padding: 0.4rem 0;
}

.menu-option {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0.4rem;
  border-radius: 8px;
}

.menu-option:hover {
  background-color: #eee;
}

.document-title {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 0.4rem;
  border-radius: 8px;
}

.document-title:hover {
  outline: 1px solid #aaa;
}

label {
  font-size: 14px;
}

.language-select {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 0.25rem;
  margin: 0.3rem 0;
}

.tool-button > * {
  width: 12px;
  height: 12px;
}

.tool-button:hover {
  background-color: rgba(180, 92, 250, 0.3);
}

.tool-button.active {
  background-color: rgba(180, 92, 250, 0.6);
  border-color: rgba(180, 92, 250, 1);
}

.picker-title {
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.picker-items {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.custom-tool-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0.25rem;
  background-clip: content-box !important;
}

.line-width-icon {
  width: 90%;
  border-radius: 5px;
  border: 2px solid black;
}

.zoom-value {
  margin: auto;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 60px;
}

.zoom-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.undo-redo-button {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #efefef;
  border: none;
}

.undo-redo-button:disabled {
  color: #aaa;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 8px;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0 0 15px 3px #b5b5b5;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.modal-title {
  font-size: 20px;
  font-weight: semibold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.hotkeys-list {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.hotkey-sequence {
  display: flex;
  gap: 0.25rem;
}

.hotkey {
  padding: 0.25rem 0.5rem;
  background-color: rgba(180, 92, 250, 0.3);
  border-radius: 8px;
}

.confirmation-title {
  font-size: 22px;
  font-weight: semibold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmation-text {
  margin-top: 0.75rem;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.confirmation-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.confirmation-button {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: none;
  color: white;
  border-radius: 3px;
}

.confirmation-button.primary {
  background-color: rgba(180, 92, 250);
}

.confirmation-button.secondary {
  background-color: rgba(180, 92, 250, 0.6);
}

.confirmation-button.primary:hover {
  background-color: rgba(166, 56, 255);
}

.confirmation-button.secondary:hover {
    background-color: rgba(180, 92, 250, 0.8);
}